---
import "../styles/global.css";

const { title = "NIVO" } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="NIVO ofrece servicios de limpieza profesional para hogares, oficinas y espacios comerciales."
    />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>

  <body>
    <slot />
  </body>
</html>